.workout-builder {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
}

.exercises {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 2rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.exercise-name {
    font-size: 1.9rem;
    font-weight: 600;
}

.exercise-img {
    width: 120px;
    height: 120px;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
    border: 1px solid brown;
    padding: 1rem;
}

.add-exercise {
    text-decoration: none;
    background-color: brown;
    font-weight: 600;
    width: max-content;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: solid 1px transparent;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
}

.add-exercise:hover {
    background-color: rgb(255, 255, 255);
    color: brown;
    border: 1px solid brown;
}
