* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inconsolata", sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
}

.nav-link {
    text-decoration: none;
    color: brown;
    font-weight: 600;
}

.img-and-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ccc;
}

.workouts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
}

.workouts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    gap: 2rem;
}

.card-name-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.workout-photo {
    width: 120px;
    height: 120px;
    border-radius: 0.5rem;
    object-fit: cover;
    border: 1px solid brown;
    padding: 1rem;
}


