<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Body</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css"></head>
    <link rel="stylesheet" href="/static/css/build_workout.css">
</head>
<body>
    <section class="workout-builder">
        <a href="/" class="back-home">Voltar para seus Treinos</a>
        <h2>Monte seu treino</h2>
        <div class="exercises">
            <div class="card">
                <span class="exercise-name">Rosca Direta</span>
                <img src="/static/images/rosca-direta.jpeg" alt="" class="exercise-img">
                <span>2x-8reps</span>
                <a href="" class="add-exercise">Adicionar Exercício</a>
            </div>
            <div class="card">
                <span class="exercise-name">Supino Reto com Halteres</span>
                <img src="/static/images/supino-reto-com-halter.jpg" alt="" class="exercise-img">
                <span>4x-12reps</span>
                <a href="" class="add-exercise">Adicionar Exercício</a>
            </div>
            <div class="card">
                <span class="exercise-name">Leg Press</span>
                <img src="/static/images/leg-press-45.jpg" alt="" class="exercise-img">
                <span>3x-15reps</span>
                <a href="" class="add-exercise">Adicionar Exercício</a>
            </div>
        </div>
    </section>
</body>