<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Body</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css"></head>
    <link rel="stylesheet" href="/static/css/exercises.css">
</head>
<body>
    <section class="exercises-section">
        <a href="/" class="back-home">Voltar para seus Treinos</a>
        <h2>Exercícios</h2>
        <div class="exercises">
            <div class="card">
                <span class="exercise-name">Rosca Direta</span>
                <img src="/static/images/rosca-direta.jpeg" alt="" class="exercise-img">
                <span class="description">
                    Exercício de isolamento para bíceps realizado com barra ou halteres. Consiste em flexionar os cotovelos elevando a carga em direção aos ombros, mantendo os braços próximos ao corpo e controlando o movimento na descida. Foco em contração máxima e execução sem balanço.
                </span>
            </div>
            <div class="card">
                <span class="exercise-name">Supino com Halter</span>
                <img src="/static/images/supino-reto-com-halter.jpg" alt="" class="exercise-img">
                <span class="description">
                    Exercício composto para peitoral, ombros e tríceps. Deitado em um banco, o praticante empurra os halteres para cima a partir da linha do peito até a extensão dos braços, controlando o movimento na descida. Permite maior amplitude e equilíbrio muscular em comparação ao supino com barra.
                </span>
            </div>
            <div class="card">
                <span class="exercise-name">Leg Press</span>
                <img src="/static/images/leg-press-45.jpg" alt="" class="exercise-img">
                <span class="description">
                   Exercício composto para membros inferiores, com foco em quadríceps, glúteos e posteriores. Realizado em máquina, consiste em empurrar a plataforma com os pés, estendendo as pernas sem travar completamente os joelhos. Ideal para desenvolvimento de força e volume nas pernas com maior estabilidade.                </span>
            </div>
        </div>
    </section>
</body>